@model IEnumerable<App.Ventas.Models.Categoria>

@{
    ViewBag.Title = "Mantenimiento de Categorías";
}

@*Comentario de Razor*@
<!-- Comentario HTML5-->

@Html.Partial("_FiltrosBusqueda")

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Lista de Categorías</h6>
    </div>
    <div class="card-body" id="categoriaList">
        @Html.Partial("_List")
    </div>
</div>

@Modal.GetModal("Mantenimiento de Categoría")


<!-- Custom styles for this page -->
<!-- Data Table -->
<link href="~/Content/template/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<script src="~/Content/template/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/template/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Data Table Responsive -->
<link rel="stylesheet" href="~/Content/template/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
<script src="~/Content/template/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/Content/template/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

<!-- Data Table Buttons -->
<link rel="stylesheet" href="~/Content/template/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">

<script src="~/Content/template/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/Content/template/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>

<script src="~/Content/template/plugins/jszip/jszip.min.js"></script>
<script src="~/Content/template/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/Content/template/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/Content/template/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/Content/template/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/Content/template/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<!-- InputMask -->
<script src="~/Content/template/plugins/moment/moment.min.js"></script>
@*<script src="../../plugins/inputmask/jquery.inputmask.min.js"></script>*@

<!-- Date Range Picker -->
<link rel="stylesheet" href="~/Content/template/plugins/daterangepicker/daterangepicker.css">
<script src="~/Content/template/plugins/daterangepicker/daterangepicker.js"></script>

<!-- Select2 -->
<link rel="stylesheet" href="~/Content/template/plugins/select2/css/select2.min.css">
<link rel="stylesheet" href="~/Content/template/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
<script src="~/Content/template/plugins/select2/js/select2.full.min.js"></script>


<script src="~/App_JS/appVentas.js" type="text/javascript"></script>
<script src="~/App_JS/categoria.js" type="text/javascript"></script>